body {
    background-color:white;
    color: black;
display: flex;
justify-content:center;
align-items: center;
height: 700px;
margin: 0;
}

button {
background-color:cadetblue;
color: black;
}

.passo {
display: none;
font-size: 20px;

}

.passo.ativo {
display: block;

}

main {
    text-align: center;
}

img {
    height: 400px;

}



